<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<head>
<title>Please Log In</title>
</head>
<body>


	<fieldset>
		<legend>Info utilisateur</legend>
		<div sec:authorize="hasRole('USER')">Texte visible par user user</div>
		<div sec:authorize="hasRole('ADMIN')">Texte visible par user admin</div>
		<div sec:authorize="isAuthenticated()">Texte visible par user authentifié.
			<p>Nom : <span sec:authentication="name"></span></p> 
			<p>Roles :<span sec:authentication="authorities">Role</span></p>
		</div>
		<div sec:authorize="isAnonymous()">
			<p>Identifiez-vous</p>
		</div>
	</fieldset>


	<h1>Please Log In</h1>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<input type="text" name="username" placeholder="Username" />
		</div>
		<div>
			<input type="password" name="password" placeholder="Password" />
		</div>
		<input type="submit" value="Log in" />
	</form>
</body>


</html>